*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    border: none;
    background-color: rgb(49, 49, 147);
    font-size: 1.6rem;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}